.editorContainer {
    display: inline-block;
    border: solid #343746;
    background-color: #282a36;
    border-radius: 10px;
    width: 100%;
    margin: 10px;

    .codeMirrorWrapper {
        margin: 10px;
        border-radius: 10px;
    }

    .editorTitle {
        align-items: center;
        color: white;
        background-color:#343746;
        padding: 5px;

        .disName{
            padding-left: 45%;
        }
    }
}