@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
$font-main:Rubik;
#loginNotice {
  div {
    text-align: center;
    font-size: 1.9em;
    background-color: #eaa3a3 !important;
    color: #d04646;
    
  }
}

#mainContent {
  font-family: $font-main;
  width: 100%;
  height: 100%;
  font-size: 2em;
  // padding: 30px;
  text-align: center;
  color:#20222b;
  // background-image: url("./pages/images/IDE-622x415.jpg");
  // filter: blur(8px);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 100%;
  .separator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .codeHead{
    font-size: 1.5em;
  }
  .codeSubHead{
    font-size: 1.2em;
  }
  .projectMain{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    #projectManager {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      h5{
        font-size: 1.2em;
      }
      .title{
        text-decoration: none;
        color:#f2f2f2;
        border: solid 1px #20222b;
        width: 50%;
        transform: translateX(50%);
        border-radius: 5px;
        background-color: #20222b;      
        cursor: pointer;
      }
      // .title:hover{
      //   text-decoration: none;
      //   cursor: pointer;
      //   background-color: rgba(0,0,0,0.3);
      // }
      .showProjects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .elementCreated{
          display: flex;
          justify-content: center;
          text-decoration: none;
          width: 25%;
          height: 20vh;
          margin: 20px;
          align-items: center;
          border: solid 1px #20222b;
          border-radius: 5px;
        }
        .elementCreated:hover{
          text-decoration: none;
          color: #f2f2f2;
          background-color: transparent;
          cursor: pointer;
          background-color: #20222b;
          align-items: center;
        }
      }
    }
  }

}
